@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$raleway: 'Raleway', sans-serif;
$open-sans: 'Open-Sans', sans-serif;

$theme-colors: ("primary": #FFC700,
    "secondary": #BC8E24,
    "tertiary": #1A1A1A,
    "quaternary": #414141,
    "quinary": #232323,
    "senary": #151515,
    "septenary": #1F1F1F,
    "octonary": #FFE600,
    "nonary": #e7b709,
);

.navbar-custom {
    background-color: map-get($theme-colors, "tertiary");
}

.navbar {
    .container {
        margin-top: 2px;
        margin-bottom: 2px;

        .nav-item {
            font-family: $open-sans;
            font-size: 14px;
            font-weight: 400;
            margin-left: 14px;
            margin-right: 14px;

            .nav-link {
                color: white !important;
            }

            .nav-link:hover {
                color: map-get($theme-colors, "primary") !important;
            }

        }

        button {
            border-radius: 20px;
            font-family: $open-sans;
            font-size: 14px;
            font-weight: 600;
            background-color: map-get($theme-colors, "primary");
        }

        button:hover {
            background-color: map-get($theme-colors, "nonary");
        }

    }
}