@use './commons'as c;

$accordion-color: #fff;
$accordion-bg: map-get(c.$theme-colors, "tertiary");
$component-active-bg: map-get(c.$theme-colors, "primary");
$accordion-button-active-bg: map-get(c.$theme-colors, "primary");
$accordion-button-active-color: map-get(c.$theme-colors, "tertiary");

.faq {
    background-color: map-get(c.$theme-colors, "tertiary");
    color: #fff;
    padding-top: 5%;
    padding-bottom: 40px;
    font-family: c.$open-sans;

    .card {
        background-color: map-get(c.$theme-colors, "septenary");
        border-radius: 15px;
        margin-bottom: 40px;
    }

    h2 {
        font-family: c.$raleway;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .accordion {
        .accordion-item {
            margin: 15px auto;
            border: none;

            button {
                font-weight: bold;
            }
        } 
    }
}

