@use './commons'as c;

$form-floating-label-transform:   scale(.8) translateY(-.5rem) translateX(.15rem);

.register {
    background-color: map-get(c.$theme-colors, "tertiary");

    .container.register {
        .card {
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: map-get(c.$theme-colors, "septenary");
            border-radius: 15px;
        }
        
        .head {
            h2 {
                justify-content: center;
                text-align: center;
                font-family: c.$open-sans;
                font-weight: 800;
                color: map-get(c.$theme-colors , "primary");
            }

            h5 {
                justify-content: center;
                text-align: center;
                font-family: c.$open-sans;
                font-size: 16px;
                font-weight: 400;
                color: white;
            }
        }
        
        .form-floating {
            margin-bottom: 20px;

            .form-control {
                height: 50px;
                border-radius: 15px;
                border: 1px solid rgb(182, 182, 182);
                background-color: map-get(c.$theme-colors, "quinary");
                font-family: c.$open-sans;
                font-weight: 500;
                font-size: 15px;
                color: white;
            }

            .form-control.is-invalid {
                border: 1px solid red;
            }

            .form-control[type=email]:focus {
                border: 1px solid map-get(c.$theme-colors, "octonary");
                background-color: map-get(c.$theme-colors, "quinary");
            }

            .form-control[type=text]:focus {
                border: 1px solid map-get(c.$theme-colors, "octonary");
                background-color: map-get(c.$theme-colors, "quinary");
            }

            .form-control[type=number]:focus {
                border: 1px solid map-get(c.$theme-colors, "octonary");
                background-color: map-get(c.$theme-colors, "quinary");
            }

            label {
                margin-top: -2px;
                font-family: c.$open-sans;
                font-size: 15px;
                font-weight: 500;
                color: rgb(182, 182, 182);
            }

        }

        .form-group {
            margin-bottom: 20px;
            
            .form-select {
                height: 50px;
                border-radius: 15px;
                border: 1px solid rgb(182, 182, 182);
                background-color: map-get(c.$theme-colors, "quinary");
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d1d1d1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
                font-family: c.$open-sans;
                font-weight: 500;
                font-size: 15px;
                color: white;
            }
        }

        button {
            margin-top: 15px;
            border-radius: 20px;
            width: 150px;
            height: 40px;
            font-family: c.$raleway;
            font-size: 14px;
            font-weight: 700;
        }

        .alert.alert-danger {
            margin-top: 20px;
            font-family: c.$raleway;
            font-weight: 500;
            background-color: #e33232;
            color: white;
        }
    }
}
