@import './commons.scss';

.beranda {
    .navbar-custom {
        background-color: #1A1A1A;
    }

    .navbar {
        .container {
            margin-top: 2px;
            margin-bottom: 2px;

            .nav-item {
                font-family: $open-sans;
                font-size: 14px;
                font-weight: 400;
                margin-left: 14px;
                margin-right: 14px;

                .nav-link:link {
                    color: white !important;
                }
        
                .nav-link:hover {
                    color: #FFC700 !important;
                }

            }

            button {
                border-radius: 20px;
                font-family: $open-sans;
                font-size: 14px;
                font-weight: 600;
                background-color: #FFC700;
            }

            button:hover {
                background-color: #e7b709;
            }

        }
    }

    .row {
        background: url("../assets/img/BackgroundHeader.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 700px;
        padding-top: 50px;
        margin-left: 0;
        margin-right: 0;

        .col-6 {
            justify-content: center;
            text-align: center;

            .logo-section {
                width: 300px;
                height: 300px;
            }

            .title {
                font-family: $raleway;
                font-size: 32px;
                font-weight: 400;
                color: white;

                strong {
                    font-weight: 900;
                }
            }

            .subtitle-form {
                font-family: $open-sans;
                font-size: 20px;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 40px;
            }

            .daftar {
                border-radius: 20px;
                font-family: $open-sans;
                font-size: 15px;
                font-weight: 600;
                height: 40px;
                width: 175px;
                background-color: #FFC700;
                margin-right: 10px;
            }

            .daftar:hover {
                background-color: #e7b709;
            }

            .agenda {
                border-radius: 20px;
                font-family: $open-sans;
                font-size: 14px;
                font-weight: 600;
                color: #FFC700;
                height: 40px;
                width: 175px;
                background-color: #1A1A1A;
                margin-left: 10px;
            }

            .agenda:hover {
                background-color: #474646;
            }
        }


    }
}



@media only screen and (max-width: 992px) {
    .navbar {
        .container {
            button {
                background-color: black;
            }
        }
    }
}
